<a href="https://colab.research.google.com/github/siddartha1192/edurekaCourses/blob/main/Logistic_Regression_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement: The dataset contains detials of the users,data shows whether person is likely to purchase artifact or not. Based on the data we have to generage a model that can predict if person will make purchase or not.

In [ ]:
#Import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [ ]:
#REad Data
df=pd.read_csv('Social_Network_Ads.csv')
print(df.head())

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df["Purchased"]=df["Purchased"].map({0:"No",1:"Yes"})

In [ ]:
print(df)

      User ID  Gender  Age  EstimatedSalary Purchased
0    15624510    Male   19            19000        No
1    15810944    Male   35            20000        No
2    15668575  Female   26            43000        No
3    15603246  Female   27            57000        No
4    15804002    Male   19            76000        No
..        ...     ...  ...              ...       ...
395  15691863  Female   46            41000       Yes
396  15706071    Male   51            23000       Yes
397  15654296  Female   50            20000       Yes
398  15755018    Male   36            33000        No
399  15594041  Female   49            36000       Yes

[400 rows x 5 columns]

In [ ]:
df["Purchased"].value_counts()

Purchased
No     257
Yes    143
Name: count, dtype: int64