<a href="https://colab.research.google.com/github/siddartha1192/edurekaCourses/blob/main/PythonBasics_May25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python World")

Welcome to Python World

Keywords in Python

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Identifier

In [ ]:
age=45

1.Keywords not allowed

2.name should start from alphabet not with numbers or special chars(!@#$%^&*()+)

3.Only _ underscore is allowed

In [ ]:
10age=45

SyntaxError: invalid decimal literal (<ipython-input-9-67070eea71a0>, line 1)

In [ ]:
age@10=45

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-10-df0fd9891b1b>, line 1)

In [ ]:
age_10=45

Comments-to enhance the readable

In [ ]:
#Single Line comment

'''
Multiple line comment
'''

**Data Types**

Numerical, characters etc

In [ ]:
#Numerical: int,float,complex
#int
salary=25000
print(type(salary))
print(isinstance(salary,int))

<class 'int'>
True

In [ ]:
#float
roi=12.99
print(type(roi))
print(isinstance(roi,float))

<class 'float'>
True

In [ ]:
import sys
print(sys.getsizeof(salary))  #Size in bytes

28

In [ ]:
#Strings: group of characters
#name="Amit Sharma"
name='Amit Sharma'
print(type(name))

<class 'str'>

In [ ]:
print("The 'Sun' rises in east")

The 'Sun' rises in east

In [ ]:
#Boolean: True/False
age=6
print(age>18)

False

Dynamic Typing

In [ ]:
#int age=40  static Typing
var=200
print(var)
print(type(var))

var='sample'
print(var)
print(type(var))

var=45.36
print(var)
print(type(var))

var=['Amit','kapil','Rajesh']
print(var)
print(type(var))

200
<class 'int'>
sample
<class 'str'>
45.36
<class 'float'>
['Amit', 'kapil', 'Rajesh']
<class 'list'>

Sequences/Collection Datatypes/Built-in datastructure: Strings,list,tuple,set,dictionary

In [ ]:
#Collections: managing multiple values

#Ordered/Unordered(index)
#Mutable/Immutable(changes can be made)
#Duplicates are allowed or not ?

#1.strings:Ordered,Immutable,duplicates are allowed
#2.list[]: Ordered,Mutable,allow duplicates
#3.tuple():ordered,Immutable, allow duplicates
#4.set{}:unordered,mutable,DO NO ALLOW DUPLICATES
#5.dict{key:value}:unordered,keys are immutable,values are mutable

Python Lists

In [ ]:
emp=[1002,'Amit Sharma',25000,4.6,'Mumbai',['project1','project2']]
print(type(emp))

<class 'list'>

In [ ]:
print(emp[0])
print(emp[5]) #Ordered

1002
['project1', 'project2']

In [ ]:
emp[2]=35000  #Updating
print(emp)

[1002, 'Amit Sharma', 35000, 4.6, 'Mumbai', ['project1', 'project2']]

In [ ]:
lst=[10,10,10,20,20,30,60]  #Allows duplicates
print(lst)

[10, 10, 10, 20, 20, 30, 60]

Python Tuple

In [ ]:
tup=(1002, 'Amit Sharma', 35000, 4.6, 'Mumbai')
print(type(tup))

<class 'tuple'>

In [ ]:
print(tup[0]) #indexed

1002

In [ ]:
tup[3]=4.8
print(tup)

TypeError: 'tuple' object does not support item assignment

List Operations

In [ ]:
emp=[1002,'Amit Sharma',25000,4.6,'Mumbai',['project1','project2']]
print(len(emp))

6

In [ ]:
#Insert item: append(),extend(),insert()
emp.append("Developer")  #add one item only at the end
print(emp)
print(len(emp))

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
print(emp)
emp.extend(['item1','item2','item3'])  #add multiple items at the end of the list

[1002, 'Amit Sharma', 25000, 4.6, 'Mumbai', ['project1', 'project2'], 'Developer']

In [ ]:
print(emp)

[1002, 'Amit Sharma', 25000, 4.6, 'Mumbai', ['project1', 'project2'], 'Developer', 'item1', 'item2', 'item3']

In [ ]:
#insert(index,item) allow to add item at position(index)
emp.insert(2,'Male')
print(emp)

[1002, 'Amit Sharma', 'Male', 25000, 4.6, 'Mumbai', ['project1', 'project2'], 'Developer', 'item1', 'item2', 'item3']

In [ ]:
#Remove Item:pop(),remove()
emp.pop()  #remove last item
print(emp)

[1002, 'Amit Sharma', 'Male', 25000, 4.6, 'Mumbai', ['project1', 'project2'], 'Developer', 'item1', 'item2']

In [ ]:
emp.index("item1")

8

In [ ]:
emp.pop(8) #remove item at index
print(emp)

[1002, 'Amit Sharma', 'Male', 25000, 4.6, 'Mumbai', ['project1', 'project2'], 'Developer', 'item2']

In [ ]:
#remove()
emp.remove('Mumbai') #remove item
print(emp)

[1002, 'Amit Sharma', 'Male', 25000, 4.6, ['project1', 'project2'], 'Developer', 'item2']

In [ ]:
lst=[45,63,98,56,45,26,37,54]
#lst.remove(45)  #remove the first occurance
print(lst)
print(lst.index(45))

[45, 63, 98, 56, 45, 26, 37, 54]
0

In [ ]:
#remove duplicates
for i in lst:
  if i==45:
    lst.remove(45)

print(lst)

[63, 98, 56, 26, 37, 54]

Python Sets: unordered,Do not allows duplicates

In [ ]:
st={45,63,98,56,23,75,48,96,23}
print(type(st))

<class 'set'>

In [ ]:
print(st[0])  #unordered

TypeError: 'set' object is not subscriptable

In [ ]:
print(st)

{96, 98, 75, 45, 48, 23, 56, 63}

In [ ]:
st={10,20,20,20,30,30,30,10,50,60}
print(type(st))

<class 'set'>

In [ ]:
print(st) #Do not allow duplicates

{50, 20, 10, 60, 30}

In [ ]:
#set Opertions
st1={10,20,30,40,50}
st2={40,50,60,70,80}
print(st1.union(st2))
print(st1.intersection(st2))
print(st1.difference(st2))  #elements in st1 but not in st2
print(st2.difference(st1))

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 50}
{10, 20, 30}
{80, 60, 70}

In [ ]:
#Type Conversion/casting
lst=[10,20,20,30,50,50,60,30]
print(type(lst))
tup=tuple(lst) #list converted into tuple
print(tup)

st=set(lst) #list converted into set
print(st)

lst=list(st) #set converted into list
print(lst)

<class 'list'>
(10, 20, 20, 30, 50, 50, 60, 30)
{10, 50, 20, 60, 30}
[10, 50, 20, 60, 30]

In [ ]:
#Nested Sequences
emp=[1002,'Amit Sharma',25000,4.6,'Mumbai',['project1','project2']]
print(emp)
print(emp[5])

print(emp[5][0])  #Forwarded index

[1002, 'Amit Sharma', 25000, 4.6, 'Mumbai', ['project1', 'project2']]
['project1', 'project2']
project1

Python Dictionaries
{key:value}

In [ ]:
emp={'id':1002,'name':'Amit Sharma','salary':25000,'exp':4.6,'city':'Mumbai'}
print(type(emp))

<class 'dict'>

In [ ]:
print(emp['exp'])

4.6

In [ ]:
emp['salary']=35000
print( emp)

{'id': 1002, 'name': 'Amit Sharma', 'salary': 35000, 'exp': 4.6, 'city': 'Mumbai'}

In [ ]:
#Insert new key-value pair
emp['Gender']='Male'
print(emp)

{'id': 1002, 'name': 'Amit Sharma', 'salary': 35000, 'exp': 4.6, 'city': 'Mumbai', 'Gender': 'Male'}

In [ ]:
#Remove
emp.pop('Gender')
print(emp)

{'id': 1002, 'name': 'Amit Sharma', 'salary': 35000, 'exp': 4.6, 'city': 'Mumbai'}

In [ ]:
emp={'id':[1001,1002,1003],'name':['Amit','Kapil','Ramesh'],'salary':[25000,35000,45000]}
print(emp)

import pandas as pd
df=pd.DataFrame(emp)
print(df)

{'id': [1001, 1002, 1003], 'name': ['Amit', 'Kapil', 'Ramesh'], 'salary': [25000, 35000, 45000]}
     id    name  salary
0  1001    Amit   25000
1  1002   Kapil   35000
2  1003  Ramesh   45000

Python Strings

slicing,interpolation,inputs

In [ ]:
str="sample string"
lst=list(str)
print(lst)

['s', 'a', 'm', 'p', 'l', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [ ]:
print(str[1])

a

In [ ]:
#String Slicing
#str[start:stop:step]
str="abcdefghojklmnopqrst"
print(str[0:5])  #start=inclusive,stop=exclusive
print(str[5:12])
print(str[0:10:2])

print(str[-2])
print(str[::-1])  #Reverse items

abcde
fghojkl
acego
s
tsrqponmlkjohgfedcba

In [ ]:
#Keyboard inputs
name=input("Enter your name:")
print(name)
age=input("Enter your age:")
print(age)
print(type(age))

Enter your name:Amit
Amit
Enter your age:25
25
<class 'str'>

In [ ]:
name=input("Enter your name:")
print(name)
#age=int(input("Enter your age:"))  #converting/casting string to int
age=float(input("Enter your age:"))
print(age)
print(type(age))

Enter your name:Amit
Amit
Enter your age:25
25.0
<class 'float'>

In [ ]:
#String Interpolations/Embadding
name=input("Enter your name:")
print(f"Hi,{name} good morning")

Enter your name:Kapil
Hi,Kapil good morning

In [ ]:
#Formatted Strings(f-strings)
#{}-place holder
name='Tarun'
balance=450000

print(f"Hi,{name} your balance is {balance}")

Hi,{name} your balance is {balance}

In [ ]:
#Format()
name='Tarun'
balance=450000

print("Hi,{} your balance is {}".format(name,balance))
print("Hi,{} your balance is {}".format(balance,name))
print("Hi,{1} your balance is {0}".format(balance,name))

Hi,Tarun your balance is 450000
Hi,450000 your balance is Tarun
Hi,Tarun your balance is 450000

In [ ]:
#Spliting split()
str="This is a sample  string"
print(str.split())  #default seperator is space

['This', 'is', 'a', 'sample', 'string']

In [ ]:
str="Kapil,Tarun,Rajesh,Prakash,John"
print(str.split(','))

['Kapil', 'Tarun', 'Rajesh', 'Prakash', 'John']

In [ ]:
lst=[45,63,98,56,23]
print(lst.count.__doc__)

Return number of occurrences of value.

In [ ]:
print(dir(lst))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
for i in dir(lst):
  print(i)

__add__
__class__
__class_getitem__
__contains__
__delattr__
__delitem__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getstate__
__gt__
__hash__
__iadd__
__imul__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__reversed__
__rmul__
__setattr__
__setitem__
__sizeof__
__str__
__subclasshook__
append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [ ]:
print(lst.count.__doc__)

Return number of occurrences of value.

Flow Control Statements: conditional Statments,Loops

In [ ]:
#Conditional Statments:if,else,elif
#marks<80--->B
#marks>80-100--->A
marks=int(input("Enter your marks:"))

if marks>80:
  print("Grade: A")
else:
  print("Grade: B")

Enter your marks:74
Grade: B

In [ ]:
#marks<50--->D
#marks>50-70--->C
#marks>70-85--->B
#marks>85---->A
#marks>95---->A+
marks=int(input("Enter your marks:"))
if marks<50 and marks>0:
    print("Grade: D")
elif marks>=50 and marks<70:
    print("Grade: C")
elif marks>=70 and marks<85:
    print("Grade: B")
elif marks>=85 and marks<100:
    if marks>=95 and marks<100:  #Nested Statement
      print("Grade: A+")
    else:
      print("Grade: A")

Enter your marks:94
Grade: A

In [ ]:
#Loops:for,while
lst=[45,63,98,52,32,78,45,12,96]
print(lst[3])

52

In [ ]:
for i in lst:
  print(i)

45
63
98
52
32
78
45
12
96

In [ ]:
print(emp)

{'id': [1001, 1002, 1003], 'name': ['Amit', 'Kapil', 'Ramesh'], 'salary': [25000, 35000, 45000]}

In [ ]:
for i in emp:
  print(emp[i])

[1001, 1002, 1003]
['Amit', 'Kapil', 'Ramesh']
[25000, 35000, 45000]

In [ ]:
for i in enumerate(lst):
  print(i)

(0, 45)
(1, 63)
(2, 98)
(3, 52)
(4, 32)
(5, 78)
(6, 45)
(7, 12)
(8, 96)

In [ ]:
#range(start,stop,step)
print(list(range(1,21)))
print(list(range(0,100,5)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#Print table of a given number
num=int(input("Enter a number:"))
for i in range(1,11): #[1,2,3,4,5,6,.....]
  print(f"{num}*{i}={num*i}")

Enter a number:16
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160

In [ ]:
#While loop
marks=int(input("Enter your marks:"))
i=1
while i<=10:
  print(f"{num}*{i}={num*i}")
  i+=1

Enter your marks:16
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160

In [ ]:
#Guess the number game
import random
number=random.randint(1,100)
attempts=0

while True:
  guess=int(input("Guess a number between 1 and 100:"))
  attempts+=1

  if guess<number:
    print("Too low! Try again.")
  elif guess>number:
    print("Too high! Try again.")
  else:
    print(f"Congratulations! You guessed the number {number} in {attempts} attempts.")
    break

Guess a number between 1 and 100:8
Too low! Try again.
Guess a number between 1 and 100:50
Too high! Try again.
Guess a number between 1 and 100:40
Too low! Try again.
Guess a number between 1 and 100:45
Too high! Try again.
Guess a number between 1 and 100:42
Too high! Try again.
Guess a number between 1 and 100:41
Congratulations! You guessed the number 41 in 0 attempts.

In [ ]:
lst=[45,6,985,23,68,57,45,12,63,95,85,12]
num=int(input("enter a number to search:"))
for i in lst:
  if i==num:
    print("Number Found")
    break
  else:
    print(i)

enter a number to search:57
45
6
985
23
68
Number Found

In [ ]:
#Match case--->DIY

**Python Functions**

Write once and Use many

1.Built-in functions

2.User defined functions

3.Use functions from modules/libraries

In [ ]:
#User defined functions: 1.define 2.invoke/calling

#Defenation function-write once
def greet(name): #name is argument/parameter
  print(f"Hi,{name} good morning")

Hi,Kapil good morning

In [ ]:
#Calling function-use many, On demand
greet("Kapil")
greet("Asmita")
greet("Sakshi")

Hi,Kapil good morning
Hi,Asmita good morning
Hi,Sakshi good morning

In [ ]:
#Find even items out of a list
items=[47,25,22,12,36,56,97,53,78,58,13]

def even_item(lst):
  even=[]
  for i in lst:
    if i%2==0:
      even.append(i)
  return even

In [ ]:
result=even_item(items)
print(result)

[22, 12, 36, 56, 78, 58]

In [ ]:
#Sukumar's Code
items = [45,33,44,21,54,8,42,2,6,674]
def even_item(items):
  even =[]
  for i in items:
    if i%2==0:
      even.append(i)
  return even

print(even_item(items))

[44, 54, 8, 42, 2, 6, 674]